<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gun Skins Viewer</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div id="main-container">
      <h1 id="gun-title">Select a Gun Skin</h1>

      <!-- Video Display Container -->
      <!-- <div id="video-container">
        <video
          id="skin-video"
          width="640"
          height="360"
          controls
          poster="default-gun-image.jpg"
        >
          <source id="video-source" src="" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <img
          id="default-image"
          style="display: none"
          width="640"
          height="360"
          alt="Gun Skin"
        />
      </div> -->
      <div id="skin-details"></div>
      <div id="video-container"></div>

      <div id="skin-container" class="horizontal-scroll"></div>
      <!-- Horizontal Skin List -->
      <div id="skins-list" class="horizontal-scroll">
        <!-- Skins will be dynamically added here -->
      </div>
    </div>

    <script src="/static/js/gun.js"></script>
  </body>
</html>
