<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gun Skins Viewer</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <a href="/" id="home-button">Back to Home</a>
    <div id="main-container">
      <h1 id="gun-title">Select a Gun Skin</h1>
      <div id="skin-details"></div>
      <div id="video-container"></div>

      <!-- Horizontal Skin List -->
      <div id="skin-container" class="horizontal-scroll"></div>
    </div>

    <script src="/static/js/gun.js"></script>
  </body>
</html>
