<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gun Skins Viewer</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      @import url("https://fonts.cdnfonts.com/css/arial-narrow");
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.cdnfonts.com/css/tungsten"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/tungsten" />
    </noscript>
  </head>
  <body>
    <a href="/" id="home-button">Back to Home</a>
    <button id="refresh-button">Refresh Data</button>
    <div id="main-container">
      <!-- Volume Slider -->
      <div id="volume-control">
        <label for="volume-slider">Volume:</label>
        <input
          type="range"
          id="volume-slider"
          min="0"
          max="1"
          step="0.01"
          value="1"
        />
        <button id="mute-button">Mute</button>
      </div>

      <!-- Search Bar -->
      <div id="search-container">
        <input type="text" id="search-bar" placeholder="Search skins..." />
        <div id="search-results"></div>
      </div>

      <!-- Skin Details Container -->
      <div id="skin-details">
        <!-- Skin name Container -->
        <div id="skinNameContainer"></div>
        <!-- Chromas and Levels -->
        <div class="left-column">
          <div id="chromaContainer"></div>
          <div id="levelContainer"></div>
        </div>

        <!-- Media Container -->
        <div id="media-container">
          <img
            id="skin-image"
            src=""
            alt="Selected Skin"
            style="display: none"
          />
          <video
            id="skin-video"
            controls
            autoplay
            width="600"
            style="display: none"
          ></video>
        </div>
      </div>

      <!-- Horizontal Skin List -->
      <div id="skin-container" class="horizontal-scroll"></div>
    </div>

    <script src="/static/js/gun.js"></script>
  </body>
</html>
